body{
    background-color: lightblue;
    color: rgb(85, 184, 151);
}
a:hover{
    color: #FF00FF;
}
link {
    color:azure;
}
#class {
    color: rgb(255, 0, 102);
    text-align: center;
    background-color: rgb(1, 228, 232);
    border: 30px rgb(rgb(226, 34, 34));
    border-style: double;
    margin: 35px;
    padding: 1px;
    content: normal;
    top: 55 ;
}
img{
    width: 70%;
    float: left;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    }
.eines {
    float: left;
	border: 2px solid black;
	margin: 5px;
	padding: 5px;
    background-color: rgb(86, 55, 49);
    color: forestgreen;
    border: 4px solid rgb(211, 187, 187);
    border-style: dashed;
    margin: 35px;
    padding: 15px;
    content: normal;
    position: sticky;
    top: 44;
    width: 100%;
    text-decoration: none;
}


ul, li{
    padding: 0,0;
    margin: 2px, 2px;
    display: inline-block;
}
footer{
    background-color: rgb(7, 218, 218);
    padding: 10px, 10px;
    margin: 0;
    clear: both;
}
input[type=button]{
    font-size: 20px;
    padding:  40px,30px;
}